@charset "utf-8";

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
hr,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
html {
    font-size: 13px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto", sans-serif, sans-serif;
    font-size: 1rem;
    color: #21262b;
}
ul,
li {
    list-style: none;
}
button {
    cursor: pointer;
    outline: transparent;
}
a {
    text-decoration: none;
    color: #0084e1;
}

input,
select,
textarea {
    font-family: "Dotum", sans-serif;
    font-size: 12px;
    color: #888f9d;
}
input::-webkit-input-placeholder {
    color: rgba(136, 143, 157, 0.6);
    opacity: 1;
}
input::-moz-placeholder {
    color: rgba(136, 143, 157, 0.6);
    opacity: 1;
}
input:-ms-input-placeholder {
    color: rgba(136, 143, 157, 0.6);
    opacity: 1;
}
textarea::-webkit-input-placeholder {
    color: rgba(136, 143, 157, 0.6);
    opacity: 1;
}
textarea::-moz-placeholder {
    color: rgba(136, 143, 157, 0.6);
    opacity: 1;
}
textarea:-ms-input-placeholder {
    color: rgba(136, 143, 157, 0.6);
    opacity: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}

/*************************************** LAYOUT ***************************************/
body {
    min-width: 1300px;
    color: #707070;
    background-color: #ffffff;
}
.layout_clearfix:after {
    content: " ";
    display: block;
    clear: both;
}
.layout_inner {
    width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

/*************************************** HEADER ***************************************/
.layout_wrap {
    position: relative;
    min-height: 100%;
    padding-top: 83px;
}
.header_common {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    background: #f3f5fa;
}
.header_common::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 83px;
    background: #fff;
}
.header_top_logo {
    position: relative;
    float: left;
    width: 195px;
    height: 83px;
}
.header_top_logo img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
}
.header_top_user {
    position: relative;
    float: right;
    padding-top: 15px;
}
.header_top_user > a {
    position: relative;
    float: left;
    padding: 0 18px;
    font-family: "Montserrat", "sans-serif";
    color: #30343c;
    line-height: 27px;
}
.header_top_user > a:last-child {
    padding-right: 0;
}
.header_top_user_photo {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #0e78b6;
    border-radius: 50%;
    padding: 2px;
    margin-right: 5px;
    background: #fff url(../images/header_user_empty.png) no-repeat center center;
    vertical-align: middle;
    overflow: hidden;
}
.header_top_user_photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.header_top_user_btn {
    height: 28px;
    border: 0;
    padding-right: 22px;
    background: transparent;
    color: #30343c;
    font-size: 11px;
    text-transform: uppercase;
    vertical-align: middle;
}
.header_top_user_menu {
    position: absolute;
    z-index: 999;
    top: 100%;
    right: 0;
    left: 0;
    margin-top: 5px;
    border: 1px solid #b3b7c1;
    border-radius: 3px;
    background: #fff;
    font-size: 11px;
    text-align: center;
    overflow: hidden;
    display: none;
}
.header_top_user_menu > a {
    display: block;
    line-height: 32px;
    color: #3b3e45;
    font-weight: bold;
}
.header_top_user_menu > a {
    border-bottom: 1px solid #dbdee6;
}
.header_top_user_menu_btn {
    padding: 5px;
    background: #f1f3f8;
}
.header_top_user_menu_btn a {
    display: block;
    height: 26px;
    line-height: 26px;
    border-radius: 3px;
    background: #ff461b;
    color: #fff;
    text-transform: uppercase;
}

.header_cont {
    height: 108px;
    background: #06a7f1;
    background: -moz-linear-gradient(to right, #06a7f1 40%, #f791c9 95%);
    background: -webkit-linear-gradient(to right, #06a7f1 40%, #f791c9 95%);
    background: linear-gradient(to right, #06a7f1 40%, #f791c9 95%);
}
.header_cont_search {
    position: relative;
    float: left;
    width: 445px;
    margin-top: 30px;
}
.header_cont_search_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #1c59dc;
    background: #fff;
    overflow: hidden;
    padding-right: 12%;
}
.header_cont_search_wrap:after {
    content: " ";
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    border-top: 1px solid #e7e7e7;
}

.header_cont_search_option {
    position: relative;
    float: left;
    width: 30%;
}
.header_cont_search_option_btn {
    position: relative;
    display: block;
    z-index: 1;
    width: 88%;
    height: 44px;
    padding: 0 20px;
    background: transparent;
    border: 0;
    color: #236fe2;
    font-weight: bold;
    overflow: hidden;
}
.header_cont_search_option_btn span {
    display: block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header_cont_search_option ul {
    position: relative;
    left: 0;
    right: 0;
    width: 380px;
    padding: 10px 20px;
    display: none;
    overflow: hidden;
}
.header_cont_search_option li {
    position: relative;
}
.header_cont_search_option li input[type="radio"] {
    position: absolute;
    top: 15px;
    left: -40px;
}
.header_cont_search_option li label {
    display: block;
    padding: 8px 0;
}
.header_cont_search_option li label.on,
.header_cont_search_option li label.on2,
.header_cont_search_option li label:hover {
    color: #236fe2;
}

.header_cont_search_input {
    float: right;
    width: 65%;
    height: 44px;
    border: 0;
    color: #333;
    font-family: "Gulim", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header_cont_search_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 12%;
    height: 44px;
    border: 0;
    background: transparent;
}
.header_cont_search_btn span {
    display: block;
    height: 100%;
    color: transparent;
    font-size: 0;
    background: url(../images/icon_search.png) no-repeat center center;
}

.header_cont_count {
    float: left;
    margin-top: 30px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    text-shadow: 0 0 2px #055fc1;
}
.header_cont_count * {
}
.header_cont_count div {
    position: relative;
    float: left;
    padding: 0 30px;
}
.header_cont_count div:first-child ~ div:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    height: 22px;
    margin-top: -11px;
    border-left: 1px solid #055fc1;
}
.header_cont_count span {
    float: left;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
}
.header_cont_count strong {
    float: left;
    margin-left: 15px;
    font-size: 28px;
    font-weight: 700;
    line-height: 46px;
}
.header_cont_notice {
    position: relative;
    z-index: 2;
    float: right;
    min-width: 150px;
    margin-top: 35px;
    padding-right: 35px;
    background: url(../images/bullet_arr_keyword.png) no-repeat right center;
}
.header_cont_notice .keyword_tit {
    position: absolute;
    top: 0;
    left: -70px;
    height: 20px;
    font-size: 12px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.6);
}
.header_cont_notice .swiper-container {
    height: 40px;
    overflow: hidden;
}
.header_cont_notice .swiper-container li {
    padding-top: 10px;
}
.header_cont_notice .keyword_item {
    position: relative;
    display: block;
    max-width: 300px;
    padding-left: 25px;
    color: #fff600;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header_cont_notice .keyword_item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 19px;
    height: 19px;
    margin-top: -10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #dae2e6;
    border-radius: 2px;
    background: #e8eef1;
    color: #2f333b;
    font: bold 11px/17px "Montserrat", sans-serif;
}
.header_cont_notice li:nth-child(1) .keyword_item:before {
    content: "1";
}
.header_cont_notice li:nth-child(2) .keyword_item:before {
    content: "2";
}
.header_cont_notice li:nth-child(3) .keyword_item:before {
    content: "3";
}
.header_cont_notice li:nth-child(4) .keyword_item:before {
    content: "4";
}
.header_cont_notice li:nth-child(5) .keyword_item:before {
    content: "5";
}
.header_cont_notice li:nth-child(6) .keyword_item:before {
    content: "6";
}
.header_cont_notice li:nth-child(7) .keyword_item:before {
    content: "7";
}
.header_cont_notice li:nth-child(8) .keyword_item:before {
    content: "8";
}
.header_cont_notice li:nth-child(9) .keyword_item:before {
    content: "9";
}
.header_cont_notice li:nth-child(10) .keyword_item:before {
    content: "10";
}
.header_cont_notice_pop {
    position: absolute;
    top: 40px;
    right: 0;
    left: -15px;
    // right: 0px;
    // left: -14px;
    padding: 15px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    display: none;
}
.header_cont_notice:hover .header_cont_notice_pop {
    display: block;
}
.header_cont_notice_pop li {
}
.header_cont_notice_pop li .keyword_item {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #2f333b;
}
.header_cont_notice_pop li .keyword_item:hover,
.header_cont_notice_pop li .keyword_item:focus {
    text-decoration: underline;
    font-weight: bold;
}
.header_cont_notice_pop .keyword_tit {
    position: static;
    height: 28px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c9d5db;
    color: #2f333b;
    font-size: 15px;
    font-weight: bold;
    line-height: inherit;
}

.js_arr_toggle {
    position: relative;
}
.js_arr_toggle:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -3px;
    width: 8px;
    height: 5px;
    margin-left: 12px;
    background: url(../images/bullet_arr_menu.png) no-repeat left top;
    transition: transform 0.2s;
}
.js_arr_toggle.open:after {
    transform: rotate(180deg);
}
.header_cont_search_option_btn:after {
    background-image: url(../images/bullet_arr_search.png);
}
.header_top_user_btn:after {
    margin-top: -2px;
    background-image: url(../images/bullet_arr_user.png);
}

.header_nav {
    position: relative;
}
.header_nav_menu {
    float: left;
    margin-left: 85px;
}
.header_nav_menu li {
    float: left;
}
.header_nav_menu > li > a {
    position: relative;
    display: block;
    height: 83px;
    line-height: 83px;
    padding: 0 35px;
    text-align: center;
    font-size: 15px;
    color: #2f333b;
    font-weight: bold;
}
.header_nav_menu li.on > a,
.header_nav_menu li.on2 > a,
.header_nav_menu li:hover > a {
    color: #236fe2;
}
.header_nav_menu > li:first-child ~ li > a:after,
.header_top_user > a:first-child ~ a:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    height: 8px;
    margin-top: -4px;
    border-left: 1px solid #d5dae6;
}

.header_nav_menu_sub {
    display: none;
    padding: 30px 0 40px;
}
.header_nav_menu_sub a {
    display: block;
    padding: 6px 0;
    text-align: center;
    font-size: 14px;
    color: #2f333b;
}

.js_nav_menu a:hover {
    color: #000;
}

.header_nav:hover .js_nav_menu {
    display: block;
    z-index: 15;
}

.header_nav_menu_sub a:hover {
    color: #236fe2;
}

/*************************************** FOOTER ***************************************/
.footer_common {
    overflow: hidden;
}
.footer_cont {
    height: 62px;
    border-top: 1px solid #c7cbd0;
    border-bottom: 1px solid #c7cbd0;
    background: #d5d8dc;
}
.footer_cont_logo {
    float: left;
    margin-left: -18px;
}
.footer_cont_logo a {
    float: left;
    padding: 16px 18px;
}
.footer_cont_menu {
    float: right;
    margin-right: -24px;
}
.footer_cont_menu a {
    position: relative;
    float: left;
    color: #7b8187;
    line-height: 60px;
    padding: 0 24px;
}
.footer_cont_menu a:hover,
.footer_cont_menu a:focus,
.footer_cont_menu a:active {
    color: #21262b;
}
.footer_cont_menu a:first-child ~ a:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    height: 12px;
    margin-top: -6px;
    border-left: 1px solid #afb5bc;
}

.footer_address {
    padding: 26px 0;
}
.footer_address_company {
    float: left;
    color: #90969d;
}
.footer_address_company_address {
    color: #6a6f76;
    margin-bottom: 10px;
}
.footer_address_copyright {
    float: right;
    padding-top: 4px;
    font-family: "Montserrat", sans-serif;
    color: #9ea6b2;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
}

/*************************************** MAIN ***************************************/
.main_visual {
    position: relative;
    height: 360px;
}
.main_visual .swiper-slide {
    height: 360px;
    // width: 20%;
}
.main_visual .swiper-slide > div {
    position: relative;
    z-index: 1;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.main_visual .swiper-slide .tit {
    display: inline-block;
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    color: #fff;
    font-size: 50px;
}
.main_visual .swiper-slide .cont {
    margin-bottom: 35px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 1.5em;
}
.main_visual .swiper-slide .slide_btn {
    display: inline-block;
    width: 264px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat", "sans-serif";
    text-transform: uppercase;
}
.main_visual .swiper-pagination {
    bottom: 25px;
}
.main_visual .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border: 2px solid #000;
    background-color: #000;
    opacity: 1;
}
.main_visual .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #f6ff00;
}

.main_visual_01 {
    background: url(../images/ocean_main_visual01.png) no-repeat center top;
    background-size: cover;
}
.main_visual li:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/main_visual_pattern.png);
}

/************* MAIN_SHORTCUT *************/
.main_shortcut {
    background: #fff;
}
.main_shortcut .layout_inner {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    padding: 30px 10px 58px;
}
.main_shortcut .layout_inner a {
    position: relative;
    display: table-cell;
    height: 97px;
    font-size: 15px;
    color: #21262b;
    text-align: center;
    background: url(../images/main_shortcut_ico.png) no-repeat center top;
    transition: background 0.2s;
}
.main_shortcut .layout_inner a span {
    position: absolute;
    top: 97px;
    left: 0;
    right: 0;
}
.main_shortcut .layout_inner a:hover,
.main_shortcut .layout_inner a:focus,
.main_shortcut .layout_inner a:active {
    color: #236fe2;
}
.main_shortcut .layout_inner .main_shortcut_policy {
    background: url(../images/ocean_policy_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_marine {
    background: url(../images/ocean_fish_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_fishing {
    background: url(../images/ocean_resource_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_shipping {
    background: url(../images/ocean_ship_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_distribution {
    background: url(../images/ocean_shipping_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_maritime {
    background: url(../images/ocean_lifesave_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_port {
    background: url(../images/ocean_logistics_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_numerical {
    background: url(../images/ocean_statistics_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_policy:hover,
.main_shortcut .layout_inner .main_shortcut_policy:active,
.main_shortcut .layout_inner .main_shortcut_policy:focus {
    background: url(../images/ocean_policy_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_marine:hover,
.main_shortcut .layout_inner .main_shortcut_marine:active,
.main_shortcut .layout_inner .main_shortcut_marine:focus {
    background: url(../images/ocean_fish_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_fishing:hover,
.main_shortcut .layout_inner .main_shortcut_fishing:active,
.main_shortcut .layout_inner .main_shortcut_fishing:focus {
    background: url(../images/ocean_resource_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_shipping:hover,
.main_shortcut .layout_inner .main_shortcut_shipping:active,
.main_shortcut .layout_inner .main_shortcut_shipping:focus {
    background: url(../images/ocean_ship_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_distribution:hover,
.main_shortcut .layout_inner .main_shortcut_distribution:active,
.main_shortcut .layout_inner .main_shortcut_distribution:focus {
    background: url(../images/ocean_shipping_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_maritime:hover,
.main_shortcut .layout_inner .main_shortcut_maritime:active,
.main_shortcut .layout_inner .main_shortcut_maritime:focus {
    background: url(../images/ocean_lifesave_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_port:hover,
.main_shortcut .layout_inner .main_shortcut_port:active,
.main_shortcut .layout_inner .main_shortcut_port:focus {
    background: url(../images/ocean_logistics_K.png) no-repeat center;
}
.main_shortcut .layout_inner .main_shortcut_numerical:hover,
.main_shortcut .layout_inner .main_shortcut_numerical:active,
.main_shortcut .layout_inner .main_shortcut_numerical:focus {
    background: url(../images/ocean_statistics_K.png) no-repeat center;
}
/************* MAIN_CONT *************/
.main_index {
    padding: 80px 0;
    background: #e9ecef;
}
.main_index h3 {
    height: 25px;
    font-size: 14px;
    color: #191c1f;
}

.main_index_banner_wrap {
    margin-top: -25px;
}

.main_index_banner_large {
    float: left;
}
.main_index_banner_small {
    width: 100%;
}
.main_index_banner_small li {
    width: 230px !important;
    height: 291px;
    padding: 8px;
    border: 1px solid #dadfe3;
    background: #fff;
}
.main_index_banner_small li a {
    display: block;
}
.main_index_banner_small .swiper-pagination {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: auto;
}
.main_index_banner_small .swiper-pagination .swiper-pagination-bullet {
    margin: 0 0 0 3px;
    background-color: #c1cad2;
    opacity: 1;
}
.main_index_banner_small .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #236fe2;
}

.main_index_banner_small img {
    display: block;
}
.main_index_banner_small_tit {
    padding: 17px 7px 0;
}
.main_index_banner_small_tit_txt {
    height: 18px;
    line-height: 18px;
    color: #21262b;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main_index_banner_small_tit_date {
    color: #82868e;
    font-size: 12px;
}
.main_index_banner_small_hit {
    position: absolute;
    right: 8px;
    bottom: 8px;
    left: 8px;
    height: 46px;
    padding: 0 15px;
    background: #e9ecef;
    line-height: 46px;
}
.main_index_banner_small_hit span {
    float: left;
    color: #3e4348;
}
.main_index_banner_small_hit strong {
    float: right;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #236fe2;
}

.main_index_board_wrap {
    border-top: 2px solid #3e4348;
    margin-top: 40px;
    padding-top: 40px;
}

.main_index_board {
    float: left;
    width: 523px;
}
.main_index_board_group {
    position: relative;
    height: 177px;
    border-bottom: 1px solid #3e4348;
    margin-bottom: 30px;
}
.main_index_board_link {
    position: absolute;
    top: 2px;
    right: 0;
    display: block;
    width: 19px;
    height: 19px;
}
.main_index_board_link span {
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/bullet_more.png) no-repeat center center;
}
.main_index_board_list {
    padding: 16px 0 15px;
    border-top: 1px solid #3e4348;
    border-bottom: 1px solid #3e4348;
}
.main_index_board_list li {
    position: relative;
    height: 24px;
    padding-right: 100px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main_index_board_list li a {
    display: block;
    color: #5c6d7f;
}
.main_index_board_list li a:hover {
    text-decoration: underline;
}
.main_index_board_list li span {
    position: absolute;
    top: 0;
    right: 0;
    color: #7a8ea1;
    font-size: 12px;
}

.main_index_banner {
    float: right;
}
.main_index_banner a {
    display: block;
}
.main_index_banner a ~ a {
    margin-top: 30px;
}

/*************************************** SUB ***************************************/
.layout_wrap_sub {
    position: relative;
    min-height: 100%;
    padding-top: 103px;
    font-size: 14px;
}
.sub_nav {
    height: 200px;
    padding-top: 50px;
    background: url(../images/ocean_snb_bg6.jpg) no-repeat center top;
    background-size: cover;
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 100px;
    letter-spacing: -2px;
}
.sub_nav h2 {
    display: inline-block;
    color: #fff;
    font-size: 1em;
    font-weight: normal;
}
.sub_nav .sub_nav_menu {
    display: inline-block;
    padding-left: 40px;
    background: url(../images/bullet_arr_snb1.png) no-repeat 20px center;
}
.sub_nav .sub_nav_menu a {
    position: relative;
    display: inline-block;
    padding: 0 25px 0 26px;
    color: #ffffff;
    transition: color 0.2s;
}
.sub_nav .sub_nav_menu a.on,
.sub_nav .sub_nav_menu a.on2,
.sub_nav .sub_nav_menu a:hover,
.sub_nav .sub_nav_menu a:focus,
.sub_nav .sub_nav_menu a:active {
    color: #ffea00;
}
.sub_nav .sub_nav_menu a:first-child ~ a:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    height: 14px;
    margin-top: -7px;
    border-left: 1px solid #ffffff;
}

.main_sub {
    padding: 100px 20px 0 20px;
    background: #fff;
}

.cont_guide {
    margin-bottom: 70px;
    font-size: 15px;
    color: #6b6b6b;
    text-align: justify;
    overflow: hidden;
}
.cont_guide strong {
    color: #2f2f2f;
}
.cont_guide h3 {
    font-size: 20px;
    margin-bottom: 8px;
    letter-spacing: -1px;
}
.layout_sub_cont h3 {
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: -1px;
}

.cont_guide .layout_clearfix h3 {
    float: left;
}
.cont_guide .layout_clearfix p {
    float: left;
    margin-left: 12px;
    line-height: 32px;
    color: #707070;
}
.cont_guide_diagram {
    position: relative;
    padding: 0 1015px 80px 0;
    border-bottom: 1px solid #d7d7d7;
}
.cont_guide_diagram_img {
    position: absolute;
    top: 0;
    right: 0;
}
.cont_guide_system {
    margin-top: 5px;
    padding: 60px;
    border: 1px solid #e6e6e6;
    text-align: center;
}
.cont_guide_summary_wrap {
    margin: 0 -30px 0 -40px;
    padding-bottom: 20px;
}
.cont_guide_summary {
    display: table;
    width: 100%;
    border-spacing: 40px 5px;
}
.cont_guide_summary li {
    position: relative;
    display: table-cell;
    height: 330px;
    padding: 40px 20px;
    border: 2px solid #0d4ed2;
    border-radius: 7px;
    background-color: #1784e0;
    color: #fff;
}
.cont_guide_summary li:nth-child(2) {
    border-color: #ec3117;
    background-color: #f25829;
}
.cont_guide_summary li:nth-child(3) {
    border-color: #278014;
    background-color: #45a723;
}
.cont_guide_summary li:after {
    content: " ";
    position: absolute;
    right: -20px;
    bottom: -23px;
    width: 170px;
    height: 150px;
    background: url(../images/guide_summary_01.png) no-repeat right bottom;
}
.cont_guide_summary li:nth-child(2):after {
    background-image: url(../images/guide_summary_02.png);
}
.cont_guide_summary li:nth-child(3):after {
    background-image: url(../images/guide_summary_03.png);
}

.cont_guide_summary h4 {
    position: relative;
    height: 85px;
    color: #fff;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: -2px;
}
.cont_guide_summary h4:after {
    content: " ";
    position: absolute;
    bottom: 22px;
    left: 2px;
    width: 20px;
    border-top: 2px solid #fff;
}

/*************************************** SUB DATA ***************************************/
.layout_sub_side {
    float: left;
    width: 195px;
}
.layout_sub_cont {
    position: relative;
    float: right;
    width: 1000px;
}

.layout_sub_side h2 {
    height: 55px;
    padding: 0 15px;
    border-top: 2px solid #3f4143;
    background: #f6f6f6;
    color: #1d262e;
    font-size: 17px;
    line-height: 53px;
}
.layout_sub_side .sub_nav_menu {
    border-top: 1px solid #3f4143;
    border-bottom: 1px solid #3f4143;
}
.layout_sub_side .sub_nav_menu a {
    display: block;
    padding: 16px 15px 15px;
    color: #000000;
}
.layout_sub_side a.on,
.layout_sub_side a.on2,
.layout_sub_side a:hover,
.layout_sub_side a:focus,
.layout_sub_side a:active {
    color: #006fdd;
}
.layout_sub_side .sub_nav_menu a:first-child ~ a {
    border-top: 1px dotted #c3c3c3;
}

/*************************************** SUB SEARCH ***************************************/
.cont_data_search {
    margin-bottom: 30px;
    padding: 20px 35px;
    border-radius: 8px;
    background: #4356fa;
    background: -moz-linear-gradient(to right, #4356fa, #f04083);
    background: -webkit-linear-gradient(to right, #4356fa, #f04083);
    background: linear-gradient(to right, #4356fa, #f04083);
}
.cont_data_search_form {
    position: relative;
    padding: 4px 52px 4px 138px;
    border-radius: 3px;
    background: #000095;
    background: -moz-linear-gradient(to right, #000095, #005b45);
    background: -webkit-linear-gradient(to right, #000095, #005b45);
    background: linear-gradient(to right, #000095, #005b45);
}
.cont_data_search_form_key {
    display: table;
    width: 100%;
    border-spacing: 4px;
    border-radius: 3px;
    background: #000095;
    background: -moz-linear-gradient(to right, #000095, #005b45);
    background: -webkit-linear-gradient(to right, #000095, #005b45);
    background: linear-gradient(to right, #000095, #005b45);
}
.cont_data_search_form_key div {
    display: table-cell;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    background-color: #fff;
    border-radius: 2px;
    color: #333333;
    font-size: 16px;
}
.cont_data_search_form_key .tit {
    width: 130px;
    padding: 0;
    text-align: center;
}
.cont_data_search_form select {
    float: left;
    width: 130px;
    height: 50px;
    padding-left: 10px;
    margin-right: 2px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 14px;
    color: #333;
}
.cont_data_search_form_select {
    position: absolute;
    top: 4px;
    left: 4px;
}
.cont_data_search_form_input {
    position: relative;
    height: 50px;
    border-radius: 2px 0 0 2px;
    padding: 4px 10px;
    background: #fff;
}
.cont_data_search_form_input input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 14px;
    color: #333;
}
.cont_data_search_form_btn {
    position: absolute;
    top: 0;
    right: -48px;
    width: 48px;
    height: 50px;
    background: #1560db;
    border: 0;
    border-radius: 0 2px 2px 0;
}
.cont_data_search_form_btn span {
    display: block;
    height: 100%;
    color: transparent;
    font-size: 0;
    background: url(../images/icon_search_white.png) no-repeat center center;
}

.cont_data_search_keyword {
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
}
.cont_data_search_keyword h4 {
    position: relative;
    display: inline-block;
    padding-right: 44px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    vertical-align: middle;
}
.cont_data_search_keyword h4:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 20px;
    height: 10px;
    margin-top: -5px;
    border-right: 1px solid #7c88c9;
}
.cont_data_search_keyword ul {
    display: inline-block;
    min-width: 500px;
    vertical-align: middle;
}
.cont_data_search_keyword li {
    position: relative;
    float: left;
    padding: 0 55px 0 22px;
}
.cont_data_search_keyword li a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 2px #0b3dcc;
    letter-spacing: -1px;
}
.cont_data_search_keyword li:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    width: 17px;
    height: 17px;
    margin-top: -8px;
    border-radius: 3px;
    background: #fff;
    text-align: center;
    line-height: 17px;
    color: #0b3dcc;
    font-weight: bold;
    font-family: "verdana", sans-serif;
    font-size: 12px;
}
.cont_data_search_keyword li:nth-child(1):after {
    content: "1";
}
.cont_data_search_keyword li:nth-child(2):after {
    content: "2";
}
.cont_data_search_keyword li:nth-child(3):after {
    content: "3";
}
.cont_data_search_keyword li:nth-child(4):after {
    content: "4";
}
.cont_data_search_keyword li:nth-child(5):after {
    content: "5";
}

/*************************************** SUB BOARD ***************************************/
.cont_board_pagenation {
    margin-top: 20px;
    text-align: center;
}
.cont_board_pagenation a {
    position: relative;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px 0 14px;
    font-family: "Dotum", sans-serif;
    font-size: 12px;
    color: #808a9f;
    vertical-align: middle;
}
.cont_board_pagenation a:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    height: 11px;
    margin-top: -6px;
    border-left: 1px solid #d9dee5;
}
.cont_board_pagenation a.current {
    color: #3d7edc;
    font-weight: bold;
}
.cont_board_pagenation .cont_board_pagenation_btn {
    width: 27px;
    border-radius: 2px;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
    background: #bac5d3 url(../images/bullet_arr_pagenation.png) no-repeat center 6px;
}
.cont_board_pagenation_btn.next {
    background-position: center -24px;
}
.cont_board_pagenation .cont_board_pagenation_btn:hover {
    background-color: #3d7edc;
}
.cont_board_pagenation .cont_board_pagenation_btn:after,
.cont_board_pagenation .cont_board_pagenation_btn + a:after {
    display: none;
}

/*************************************** SUB DATA LIST ***************************************/
.cont_data_list {
    padding: 0 1px 20px;
    border-bottom: 1px solid #0f1626;
}
.cont_data_list li {
    position: relative;
    z-index: 1;
    float: left;
    width: 49.5%;
    height: 175px;
    padding: 53px 17px 0;
    margin-bottom: 10px;
    border: 3px solid #f4f5f7;
    border-radius: 7px;
}
.cont_data_list li:nth-child(2n) {
    float: right;
}
.cont_data_list li:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border-radius: 8px;
    border: 1px solid #c9ced6;
}
.cont_data_list li a {
    display: block;
}
.cont_data_label {
    position: absolute;
    top: 21px;
    left: 17px;
}
.cont_data_label div {
    float: left;
    min-width: 47px;
    height: 20px;
    margin-right: 2px;
    padding: 1px 6px 0;
    border-radius: 2px;
    border: 1px solid #f14905;
    background-color: #f45f06;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.cont_data_label .xml {
    border-color: #0d7c08;
    background-color: #11940a;
}
.cont_data_label .xls {
    border-color: #b010cf;
    background-color: #bf15d8;
}
.cont_data_label .xlsx {
    border-color: #0f4ed8;
    background-color: #1465df;
}
.cont_data_label .hwp {
    border-color: #f10505;
    background-color: #f40606;
}
.cont_data_label .txt {
    border-color: #14a0d6;
    background-color: #1ab2de;
}
.cont_data_label .link {
    border-color: #5900ff;
    background-color: #5900ff;
}
.cont_data_label .csv {
    border-color: #f55050;
    background-color: #f55050;
}
.cont_data_label .zip {
    border-color: #89d854;
    background-color: #89d854;
}
.cont_data_label .gif {
    border-color: #546cd8;
    background-color: #546cd8;
}
.cont_data_label .stl {
    border-color: #d854c2;
    background-color: #d854c2;
}

.cont_data_tit {
    height: 32px;
    border-bottom: 1px dotted #000;
    margin-bottom: 16px;
}
.cont_data_tit_category {
    position: relative;
    float: left;
    padding-right: 32px;
    color: #266be2;
    font-size: 20px;
    letter-spacing: -1px;
}
.cont_data_tit_category:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 15px;
    height: 14px;
    margin-top: -7px;
    border-left: 1px solid #dcdcdc;
}
.cont_data_tit_txt {
    float: left;
    color: #191c1f;
    font-size: 20px;
    letter-spacing: -1px;
    background-color: #ffffff;
    border: none;
    text-align: left;
}
.cont_data_tit_hit {
    float: right;
}
.cont_data_tit_hit span {
    display: inline-block;
    padding: 2px 6px 0 0;
    color: #979ea5;
    vertical-align: middle;
}
.cont_data_tit_hit strong {
    font-size: 21px;
    color: #236fe2;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    vertical-align: middle;
}

.cont_data_body {
}
.cont_data_body p {
    font-size: 15px;
    color: #494949;
    letter-spacing: -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.cont_data_body_info {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-top: 8px;
}
.cont_data_body_info div {
    position: relative;
    display: table-cell;
    padding: 0 10px 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.cont_data_body_info div:first-child ~ div:after {
    content: " ";
    position: absolute;
    top: 5px;
    left: 0;
    height: 10px;
    border-left: 1px solid #d8d8d8;
}
.cont_data_body_info div:first-child {
    width: 30%;
    padding-left: 0;
}
.cont_data_body_info span {
    color: #7c8692;
    letter-spacing: -1px;
}
.cont_data_body_info span:after {
    content: " : ";
}
.cont_data_body_info strong {
    font-weight: normal;
    color: #4b5764;
}

/*************************************** SUB DATA DETAIL ***************************************/
.cont_data_btns {
    margin-top: 50px;
    text-align: center;
}
.btn_btm_submit,
.btn_btm_cancel,
.btn_btm_normal {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    border: 0;
    border-radius: 5px;
    background-color: #2c7aef;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.btn_btm_cancel {
    background-color: #f54d21;
}
.btn_btm_normal {
    border: 1px solid #dde1e6;
    background-color: #f2f4f7;
    color: #232323;
}
.cont_mypage_btns {
    position: relative;
}
.cont_mypage_btns_inner {
    position: absolute;
    top: 15px;
    right: 0;
}
.cont_mypage_btns .btn_btm_cancel,
.cont_mypage_btns .btn_btm_submit {
    float: left;
    min-width: 80px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin-left: 3px;
    border-radius: 3px;
    font-size: 13px;
}
.cont_mypage_btns select {
    float: left;
    height: 30px;
    padding-left: 5px;
    margin-left: 3px;
    border-radius: 3px;
    border: 1px solid #a6adb9;
    font-size: 13px;
}
.cont_mypage_selectList {
    float: left;
    line-height: 30px;
    margin-left: 3px;
    border-radius: 3px;
    border: 1px solid #a6adb9;
    font-size: 13px;
    color: #6e747f;
}
.cont_mypage_selectList .tit {
    padding: 0 10px;
}
.cont_mypage_selectList .tit button {
    width: 100%;
    height: 100%;
    padding-right: 40px;
    border: 0;
    background: url(../images/bullet_arr_menu.png) no-repeat right center;
    color: #6e747f;
}
.cont_mypage_selectList ul {
    padding: 5px 0;
    border-top: 1px solid #a6adb9;
    line-height: 18px;
    display: none;
}
.cont_mypage_selectList li button {
    width: 100%;
    padding: 0 10px;
    border: 0;
    background: transparent;
    font-size: 12px;
    color: #6e747f;
    text-align: left;
}
.cont_mypage_selectList li button:hover {
    color: #333;
}

.cont_data_detail_tit {
    height: 55px;
    line-height: 53px;
    border-top: 2px solid #3f4143;
    text-align: center;
    font-family: "Montserrat", "Noto", sans-serif;
    font-size: 25px;
    color: #333333;
    font-weight: bold;
}

.tb_data_detail {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 1px double #3f4143;
    border-bottom: 1px double #3f4143;
    border-left: hidden;
    border-right: hidden;
}
.tb_data_detail th {
    height: 36px;
    border: 1px solid #d8d8d8;
    background-color: #e2effc;
    color: #828b96;
}
.tb_data_detail td {
    padding: 8px 20px;
    border: 1px solid #d8d8d8;
    color: #282828;
}
.tb_data_detail .tb_data_detail_line th,
.tb_data_detail .tb_data_detail_line td {
    border-top: 1px double #3f4143;
}
.cont_tb_description {
    padding: 20px 10px;
}
.cont_data_detail_att {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #dee7f0;
    background-color: #eef2f5;
    color: #828b96;
    font-size: 13px;
}
.cont_data_detail_att span:after {
    content: " : ";
}
.cont_data_detail_att a {
    display: inline-block;
    padding: 0 22px 0 3px;
    // background: url(../images/ico_download.png) no-repeat right 4px;
    color: #0b7cec;
    text-decoration: underline;
}
.cont_data_detail_code {
    padding: 30px 20px;
    border-top: 1px solid #3f4143;
    border-bottom: 1px solid #3f4143;
    background-color: #eef2f5;
    color: #706f6f;
    line-height: 22px;
}

.cont_data_detail_subtit {
    margin: 30px 2px 5px;
    font-size: 14px;
}

.cont_data_detail_option {
    padding: 10px 2px;
    border-top: 1px double #3f4143;
}
.cont_data_detail_option * {
    vertical-align: middle;
}
.cont_data_detail_option_tit {
    position: relative;
    display: inline-block;
    padding-right: 36px;
}
.cont_data_detail_option_tit:after {
    content: " ";
    position: absolute;
    display: block;
    top: 5px;
    right: 15px;
    height: 8px;
    border-left: 1px solid #d8d8d8;
}
.cont_data_detail_option label {
    padding: 0 20px 0 3px;
    color: #51575e;
}
.cont_data_detail_option_att {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding-left: 40px;
    color: #0b7cec;
}
.cont_data_detail_option_att span {
    text-decoration: underline;
}
.cont_data_detail_option_att:after {
    content: "File";
    position: absolute;
    display: block;
    top: 2px;
    left: 0;
    width: 35px;
    height: 20px;
    box-sizing: border-box;
    padding: 3px 6px 0;
    border-radius: 2px;
    border: 1px solid #a6adb9;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #2d69cf;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.cont_data_detail_option_att.zip:after {
    content: "ZIP";
}
.cont_data_detail_option_att.csv:after {
    content: "CSV";
    color: #288b11;
}
.cont_data_tab {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 12px;
}
.cont_data_tab a {
    display: table-cell;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    background-color: #d0dae3;
    text-align: center;
    font-size: 20px;
    color: #59626b;
}
.cont_data_tab a.on,
.cont_data_tab a.on2 {
    background-color: #8644f6;
    color: #fcff00;
}

/*************************************** SUB MYPAGE DETAIL ***************************************/
.cont_mypage_tableHeader {
    padding: 10px 5px;
    // border-top: 2px solid #0f1626;
    background-color: #fafbfc;
}
.cont_mypage_tableHeader * {
    vertical-align: middle;
}
.cont_mypage_tableHeader_search {
    float: right;
}
.cont_mypage_tableHeader_search_select {
    float: left;
}
.cont_mypage_tableHeader select {
    float: left;
    min-width: 160px;
    height: 30px;
    margin-left: 2px;
    border-radius: 2px;
    border: 1px solid #a6adb9;
    padding-left: 5px;
    color: #6e747f;
}
.cont_mypage_tableHeader_search select {
    min-width: 80px;
}
.cont_mypage_tableHeader_search_input {
    float: left;
    margin-left: 4px;
}
.cont_mypage_tableHeader_search_input input {
    float: left;
    width: 285px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #a6adb9;
    padding-left: 5px;
    color: #6e747f;
}
.cont_mypage_tableHeader_search_input button {
    float: left;
    width: 40px;
    height: 30px;
    margin-left: 2px;
    border-radius: 2px;
    border: 0;
    background-color: #c7d0d8;
    font-size: 13px;
    color: #383c4a;
}
.cont_mypage_tableHeader_search_input button span {
    display: block;
    height: 100%;
    color: transparent;
    font-size: 0;
    background: url(../images/icon_search_white_s.png) no-repeat center center;
}
.cont_mypage_tableHeader_search_input button:hover {
    background-color: #3d7edc;
}

.tb_mypage_list {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #0f1626;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px double #0f1626;
}
.tb_mypage_list > thead th {
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px double #187cff;
    border-right: 1px solid #328bff;
    background: #5ba2ff;
    color: #fff;
    font-size: 15px;
    white-space: nowrap;
}
.tb_mypage_list > tbody > tr > td {
    height: 41px;
    padding: 6px 10px;
    border-top: 1px solid #ebecee;
    border-right: 1px solid #ebecee;
    color: #7a8596;
    text-align: center;
}
.tb_mypage_list tbody .td_al_number {
    text-align: right;
}
.tb_mypage_list > tbody .td_inner_wrap {
    height: 0;
    padding: 0;
    border-top: 0 hidden;
}
.tb_mypage_list > tbody > tr:nth-child(2n) > td {
    background-color: #fafbfc;
}
.tb_mypage_list_detail.tb_mypage_list > tbody > tr > td {
    background-color: transparent;
}
.tb_mypage_list > tbody > tr.tr_mypage_list_on > td,
.tb_mypage_list.notice_list tr:hover td {
    border-color: #c3d3eb;
    border-top: 1px double #c3d3eb;
    border-bottom: 1px double #c3d3eb;
    background-color: #cfdff7;
    color: #236fe1;
}
.tb_mypage_list > tbody > tr.tr_mypage_list_on:last-child > td,
.tb_mypage_list.notice_list tr:last-child:hover td {
    border-bottom-color: #0f1626;
}
.tb_mypage_list.notice_list td > a {
    border-bottom: 0;
}

.btn_mypage_list {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    border: 0;
    border-radius: 3px;
    background-color: #09c863;
    color: #fff !important;
    letter-spacing: -1px;
    font-weight: bold;
    white-space: nowrap;
}
.btn_mypage_list.delete {
    background-color: #f03f10;
}
.btn_mypage_list_close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 26px;
    border: 0;
    background: transparent;
    color: #fff;
    letter-spacing: -1px;
    font-weight: bold;
}
.btn_mypage_list_code {
    border: 0;
    background: transparent;
    color: inherit;
    border-bottom: 1px solid rgba(122, 133, 150, 0.3);
}
.tb_mypage_list td > a {
    display: inline-block;
    color: inherit;
    border-bottom: 1px solid rgba(122, 133, 150, 0.3);
}
.tb_mypage_list .tr_mypage_list_on td > a,
.tr_mypage_list_on .btn_mypage_list_code {
    border-bottom-color: rgba(35, 111, 225, 0.3);
}

.cont_mypage_detail_inner {
    position: relative;
    padding: 4px;
    border-radius: 3px;
    background-color: #383c4a;
}
.cont_mypage_detail_inner_tit {
    height: 31px;
    padding: 4px 12px 0;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.tb_mypage_list_inner {
    width: 100%;
    border-collapse: collapse;
    border-right: hidden;
    border-bottom: hidden;
    background-color: #fff;
    font-size: 13px;
}
.tb_mypage_list_inner thead th {
    height: 43px;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #555;
    background-color: #f0f0f0;
    color: #646464;
    font-weight: normal;
}
.tb_mypage_list_inner tbody td {
    height: 37px;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    color: #909090;
    text-align: center;
}
.tb_mypage_detail_inner {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-right: hidden;
    border-bottom: hidden;
    background-color: #fff;
    font-size: 13px;
}
.tb_mypage_detail_inner th {
    width: 150px;
    padding: 0 10px;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    background-color: #f0f0f0;
    color: #646464;
    font-weight: normal;
    text-align: left;
}
.tb_mypage_detail_inner td {
    height: 37px;
    padding: 0 10px;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    color: #909090;
    text-align: left;
}

.cont_mypage_detail_code {
    position: relative;
}

.pop_code {
    display: none;
    position: absolute;
    z-index: 999;
    top: 24px;
    left: 50%;
    width: 660px;
    margin-left: -330px;
    padding: 15px;
    border: 3px solid #383c4a;
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
    color: #6b7280;
    font-size: 13px;
}
.js_code_btn:hover + .pop_code {
    display: block;
}

/*************************************** SUB MYPAGE HISTORY ***************************************/
.cont_mypage_history {
    margin-bottom: 30px;
    padding: 0 5px 5px;
    border-radius: 8px;
    background: #5135c8;
    background: -moz-linear-gradient(to right, #5135c8, #00afa0);
    background: -webkit-linear-gradient(to right, #5135c8, #00afa0);
    background: linear-gradient(to right, #5135c8, #00afa0);
}
.cont_history_summary {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    text-align: center;
}
.cont_history_summary_count,
.cont_history_summary_graph {
    display: table-cell;
}
.cont_history_summary .head {
    height: 56px;
    line-height: 56px;
    color: #fff;
    font-size: 17px;
}
.cont_history_summary .body {
    position: relative;
    height: 291px;
    padding: 20px 35px 0;
    background: #fff;
    text-align: center;
    font-size: 13px;
    color: #7a7979;
    word-break: keep-all;
}
.cont_history_summary_count:first-child .body {
    border-radius: 5px 0 0 5px;
}
.cont_history_summary_graph .body {
    border-radius: 0 5px 5px 0;
}

.cont_history_summary_count p {
    margin-bottom: -10px;
}

.cont_history_summary_count .count {
    height: 120px;
    line-height: 120px;
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
    color: #f5500f;
    font-weight: 700;
}
.cont_history_summary_graph {
    width: 500px;
}
.cont_graph_wrap {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
}
.cont_graph_select {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 80px;
    height: 28px;
    padding-left: 5px;
    border: 1px solid #a6adb9;
    border-radius: 2px;
}

.sub_nav_favorites {
    position: relative;
    margin-top: -5px;
}
.sub_nav_favorites_menu {
    padding: 15px;
    border: 1px solid #c9d8e6;
    border-radius: 3px;
    background-color: #f8fafc;
    font-size: 13px;
}
.sub_nav_favorites_menu li {
    position: relative;
    overflow: hidden;
    padding: 2px 0 2px 12px;
}
.sub_nav_favorites_menu li:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 3px;
    margin-top: -2px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #82909f;
}
.sub_nav_favorites_menu a {
    float: left;
    color: #7c8b9a;
}
.sub_nav_favorites_add {
    position: absolute;
    top: -32px;
    right: 12px;
    width: 23px;
    height: 23px;
    border: 1px solid #52a8fe;
    border-radius: 50%;
    background: transparent;
}
.sub_nav_favorites_delete {
    float: right;
    width: 17px;
    height: 17px;
    border: 1px solid #f14836;
    border-radius: 50%;
    background: transparent;
}
.sub_nav_favorites_add span,
.sub_nav_favorites_delete span {
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/ico_add.png) no-repeat center center;
}
.sub_nav_favorites_delete span {
    background-image: url(../images/ico_delete.png);
}

/*************************************** POPUP ***************************************/
.pop_common {
    position: absolute;
    z-index: 9;
    top: 150px;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    padding: 2px;
    border: 1px solid #15171f;
    border-radius: 3px;
    background: #383c4a;
}
.pop_tit {
    height: 34px;
    line-height: 34px;
    padding: 0 12px;
    color: #fff;
    font-weight: normal;
}
.pop_cont_wrap {
    border: 1px solid #15171f;
    border-radius: 2px;
    background-color: #fff;
}
.pop_cont {
    min-height: 80px;
}
.pop_btns {
    padding: 15px;
    border-top: 1px solid #afb6bc;
    background: #edf3f8;
    text-align: center;
}
.pop_btns button {
    min-width: 79px;
    height: 33px;
    padding: 0 20px;
    border-radius: 2px;
    border: 0;
    background-color: #c7d0d8;
    font-size: 13px;
    color: #383c4a;
    font-weight: bold;
}
.pop_btns .pop_btn_submit {
    background-color: #2c7aef;
    color: #fff;
}
.pop_cont_select {
    padding: 20px;
    text-align: center;
    color: #333;
}
.pop_cont_select select,
.pop_cont_select input {
    min-width: 300px;
    height: 30px;
    padding-left: 10px;
    margin-top: 10px;
}
.pop_cont_select p:only-child {
    padding: 10px 0;
}

/*************************************** SUB NOTICE DETAIL ***************************************/
.cont_notice_read {
}
.cont_notice_read_tit {
    padding: 15px;
    border-top: 1px solid #0f1626;
    border-bottom: 1px solid #cbcfd6;
}
.cont_notice_read_tit .tit {
    float: left;
    color: #1d262e;
    font-size: 16px;
    font-weight: bold;
}
.cont_notice_read_tit .info {
    float: right;
    color: #7f878f;
    font-size: 14px;
}
.cont_notice_read_tit .info span {
    float: left;
}
.cont_notice_read_tit .info span:first-child ~ span {
    position: relative;
    padding-left: 28px;
}
.cont_notice_read_tit .info span:first-child ~ span:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 14px;
    height: 6px;
    margin-top: -3px;
    border-left: 1px solid #cbced6;
}

.cont_notice_read_body {
    padding: 20px 15px;
    border-bottom: 1px solid #0f1626;
    color: #63696f;
    font-size: 15px;
}
.cont_notice_read_body div {
    margin: 20px 0;
    height: 100%;
    -webkit-appearance: textarea;
}
.cont_notice_read_body img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.cont_notice_read_body textarea {
    border: none;
    font-size: 15px;
    font-family: "Noto", sans-serif, sans-serif;
    width: 100%;
    background-color: white;
    resize: none;
    height: 250px;
    margin: auto;
}

.cont_notice_read_btns {
    margin-top: 30px;
}
.cont_notice_read_btns > div {
    float: left;
}
.cont_notice_read_btns > div:nth-child(2) {
    float: right;
}
.cont_notice_read_btns a {
    display: inline-block;
    min-width: 85px;
    padding: 0 18px;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
}
.cont_notice_read_btns a span {
    padding-left: 18px;
    // background: url(../images/bullet_arr_board.png) no-repeat left 6px
}
.cont_notice_read_btns a span.ico_down {
    background-position: left -44px;
}
.td_notice_btn {
    width: 130px;
}
.tb_notice_write {
    width: 100%;
    border-top: 1px solid #0f1626;
    border-bottom: hidden;
    border-collapse: collapse;
}
.tb_notice_write th {
    width: 80px;
    border-bottom: 1px solid #bec5cd;
    color: #1d262e;
    font-size: 16px;
}
.tb_notice_write td {
    padding: 5px 0;
    border-bottom: 1px solid #bec5cd;
}
.tb_notice_write input[type="text"] {
    width: 100%;
    height: 44px;
    padding-left: 15px;
    border: 1px solid #ced8e3;
    background: #f8fafc;
}
.tb_notice_write input[type="file"] {
    width: 100%;
    height: 44px;
}
.cont_board_textarea {
    padding: 15px 0 0 15px;
    border: 1px solid #ced8e3;
    background: #f8fafc;
}
.cont_board_textarea textarea {
    width: 100%;
    height: 450px;
    padding-right: 15px;
    border: 0;
    background: transparent;
    line-height: 1.5em;
    overflow-y: auto;
}
.cont_board_btns {
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid #0f1626;
    text-align: center;
}
.cont_board_btns button {
    width: 200px;
}

.cont_msg {
    display: table;
    width: 100%;
    height: 206px;
    border-top: 2px solid #0f1626;
    border-bottom: 1px solid #0f1626;
    text-align: center;
    font-size: 18px;
    color: #1d262e;
}
.cont_msg_inner {
    display: table-cell;
    vertical-align: middle;
}
.ico_notice {
    position: relative;
    display: inline-block;
    padding-left: 35px;
}
.ico_notice::after {
    content: "!";
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #ff2d11;
    border-radius: 50%;
    color: #ff2d11;
    text-align: center;
    margin-top: -12px;
    font: bold 18px/24px "Dotum", sans-serif;
}

.tb_data_list {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 2px solid #26292d;
    border-bottom: 1px double #26292d;
    border-left: hidden;
    border-right: hidden;
}
.tb_data_list th {
    height: 43px;
    border: 1px solid #26292d;
    background-color: #3f4143;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}
.tb_data_list td {
    padding: 10px 20px;
    border: 1px solid #d9dde2;
    color: #777777;
    text-align: center;
    font-size: 15px;
}

.main_table {
    width: 100%;
}
.main_table .time {
    height: 24px;
    color: #7a8ea1;
}
